# OS artifacts
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
dist/
.angular/
.cache/
coverage/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# .NET build
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.config/
certs/

# Logs & diagnostic output
*.log
Logs/



# Local data files
event-management-backend/WebApi/Data/
event-management-backend/Tests/IntegrationTests/bin/
event-management-backend/Tests/IntegrationTests/obj/
event-management-backend/Tests/UnitTests/bin/
event-management-backend/Tests/UnitTests/obj/

# Environment / secrets
*.env
*.env.*

